@charset "utf-8";
.service-package-card-offer{
	background:#FFDD00;
	border-radius: 10px;
	padding: 30px 50px 30px 50px;
	color: #000;
}

.service-package-card-offer p{
	font-size:16px;
}
.service-package-card-offer span{
	font-size:20px;

}
.service-package-month-offer{
	margin:15px 10px -15px 0 ;
	font-size:14px;
background-color: rgba(0,0,0,0.05);
	border-radius: 50px;
	padding:5px 15px 5px 20px;
}
.service-package-month-offer i{
	color:#1EDB1C;
}

.service-package-card-standard{
	background:#fff;
	border-radius: 10px;
	padding: 30px 50px 30px 50px;
	color: #000;
}
.service-package-card-standard p{
	font-size:16px;
}
.service-package-card-standard span{
	font-size:20px;

}
.service-package-month-standard{
	margin:15px 10px -15px 0 ;
	font-size:14px;
background-color: rgba(0,0,0,0.05);
	border-radius: 50px;
	padding:5px 15px 5px 20px;
}
.service-package-month-standard i{
	color:#1EDB1C;
}
.service-package-card-standard .btn-secondary{
	border:1px solid #000!important;
	background: transparent!important;
	color: #000!important;
}


.modal-header{
	background-image:url("Image/Login/Mask Group 38@2x.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	background-position: center;
}

.modal-header .close {
    padding: 7px 11px !important;
    margin: 1px -2px !important;
    background: #fff !important;
    border-radius: 50px !important;
	opacity: 1;
}
.modal-title .h5, h5{
	color: #fff !important;
	margin-top:50px!important;
}

    .btn-primary{
		border:none!important;
		color:#000!important;
		background: transparent!important;
		margin-left: 75px;
}
	.btn-primary:hover{
		border:none!important;
		color:#000!important;
		background: transparent!important;
		text-decoration: underline!important ;
	}
	.card{
		border:none !important;
	}
	.btn-secondary{
		border:none!important;
		background: #000!important;
		color: #fff!important;
		font-size: 18px!important;
		padding: 0.8rem 0.75rem!important;
		
		border-radius: 12px!important;
	}
.btn-secondary:hover{
	    
	    transition: 0.5s;
}
.card-title img{
	margin-left:115px;
}
		
.form-reg{
	padding:45px!important;
	margin:120px 0px !important;
	
	background-color: #fff!important;
    border-radius:5px!important;	
}
.mobile-hero{
	border-right:1px solid #000;
	padding: 5px  5px  5px 5px;
}
.mobile-field{
	min-width: 350px!important;
		
	border: none;
	margin: 5px 30px  5px   5px ;
}

.inf-form-hero{ 
	background-color: #f9f9f9;
      }
	
.form-control{
	border:0.5px solid #515151!important;
	padding: 0.8rem 0.75rem!important;
	border-radius: 12px!important;
	font-size: 15px!important;
}
.form-reg a{
	color: #000!important;
}
.reg-a{
	margin-top: 80px!important;
}

.or-tile{
	position: relative;
}
.or-tile:before {
        content: "";
        display: block;
        width: 130px;
        height: 1px;
        background: #ddd;
        left: 73px;
        top: 50%;
        position: absolute;
      }
.or-tile:after {
        content: "";
        display: block;
        width: 130px;
        height: 1px;
        background: #ddd;
        right: 74px;
        top: 50%;
        position: absolute;
}

.btn-google{
	text-align:left!important;
	color: #000;
	background:#FFECEC!important;
	border-radius:10px!important;
}
.btn-google i{
	color: #F23131;	
}
.btn-fb{
	text-align:left!important;
	color: #000000;
	background:#e2efff!important;
	border-radius:10px!important;	
}
.btn-fb i{
	color: #4267B2;	
	
}

.form-check-input{
	
	
}
.field-group {
    cursor: -webkit-grab; cursor: grab;
    background-color: #f9f9f9;
    padding: 30px;
    margin: 38px 5px;
    border: dashed 1px #000;
    border-radius: 5px;
	max-width: 185px;
}

.field-group Span{
	cursor: -webkit-grab; cursor: grab;
}

.field-group figure{
	cursor: -webkit-grab; cursor: grab;
}
.file-field img{
	cursor: -webkit-grab; cursor: grab;
}


















/* Fonts */

@font-face {
    font-family: Nimbus;
    src: url("Font/") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    src: url("path/GraublauWebBold.otf") format("opentype");
}


/* Media queries */
	
	@media (min-width: 150px) and (max-width: 1200px) { 

       
.or-tile:before {left: 20px!important;width: 80px;}
.or-tile:after {right: 20px!important;width: 80px;}
		.btn-primary{margin-left:0px;}
	.card{
		font-size:15px;
		}	
	.card-title img{
	    margin-left:15px !important;
		font-size: 12px!important;
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
		.card-img-top{
			width:150px;
		}
		.card-text img{
			width:20px;
		}
		  .btn-secondary{
		
		font-size: 1rem;}
		.mobile-field{	
			min-width: 150px!important;
		max-width: 140px!important;
		}
		.service-package-card-standard{
			margin: 10px 0 0 0;
		}
		.service-package-card-offer{
			margin: 10px 0 0 0;
		}
	
	}